[Unit]
Description=Gunicorn instance to serve aafai-bus
After=network.target

[Service]
# Run the service as the 'www-data' user
Environment="APP_ENV=production"
User=www-data
Group=www-data

# Set the working directory to your app's root
WorkingDirectory=/var/www/aafai-bus


# Restart the service if it ever fails
Restart=always

[Install]
WantedBy=multi-user.target